.card-link{
  text-decoration: none;
}

.box {
  width: 25%;
  height: 45vh;
  border-radius: 40px;
  text-align: left;
}

.box-padding {
  margin-left: 2rem;
  margin-top: 1.5rem;
  align-items: cen  ter;
  justify-content: center;
}

.box-icon {
  background-color: #ffffff4b;
  border-radius: 15px;
  width: 70px;
  height: 70px;
}

.icon-box {
  position: absolute;
  transform: translate(60%, 60%);
}

.box-title {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.box-p {
  font-size: 1rem;
  color: #ffffff92;
  width: 20vw;
  margin-bottom: 3rem;
}

.box-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
}

.box-span {
  color: #ffffff81;
  font-size: 1rem;
}

.box-chevron {
  background-color: #ffffff4b;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.icon-chevron {
  position: absolute;
  transform: translate(50%, 50%);
}

@media (min-width: 600px) and (max-width: 1024px) {
  .box{
    width: 30vw;
    height: 32vh;
  }
  

}

@media (max-width: 480px) {
  .box{
    width: 95vw;
    margin-bottom: 1rem;
  } 

  .box-p{
    font-size: 1rem;
    width: 85vw;
  }

  .box-itens{
    width: 80vw;
  }
}