.container-person {
  position: relative;
  background: linear-gradient(160deg, #1c2739 0%, #192335 40%, #1d283a 100%);
  border: 1px solid #ffffff82;
  border-radius: 20px;
  width: 20vw;
  height: 55vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
   transition: transform 0.3s ease, border 0.3s ease;
}

.container-person:hover{
  border: 1px solid #E95F0D;
}


.box-race {
  border: 1px solid #e2b71a;
  z-index: 1;
  background-color: #e2b71a87;
  border-radius: 10px;
  transform: translate(200%, 30%);
  position: absolute;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
}

.race {
  position: absolute;
  color: #e2b71a;
  transform: translate(30%,20%);
}

.image-person {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}


.person-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.7s ease;
}

.person-image:hover{
  transform: scale(1.10);
}

.bottom-card {
  position: absolute;
  top: 26vh;
  left: 1.2rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-gradient {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.background-shield {
  background-color: #f05b1b7b;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.icon-shield {
  position: absolute;
  transform: translate(30%, 30%);
}

.info-card {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.appearance {
  color: #ffffff65;
  font-size: 0.9rem;
}

.info-transform {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.box-transform {
  background-color: #e2b71a45;
  border-radius: 10px;
}

.transform {
  padding: 0.2rem 0.5rem;
  color: #e2b71a;
}

@media (max-width: 480px) {
  .container-person{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}