.header {
   background: linear-gradient(160deg, #FF8A00 0%, #FF6A00 40%, #FF3C00 100%);
  padding-top: 2rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-encyclopedia {
    background-color: rgba(250, 250, 250, 0.168);
    border: none;
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
}

.encyclopedia-text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.dragon-ball-section{
    padding-bottom: 3rem;
}

.h1-dragon-ball {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

.h1-dragon-balll {
  text-align: center;
  font-size: 4rem;
  color: #fde047;
  margin-bottom: 1rem;
}

.p-dragon-ball {
  text-align: center;
  font-size: 1.2rem;
  color: #f7c1a0;
}

.button-wiki {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 1rem;
}

.b-exploration-wiki{
    padding: 1rem 2.3rem;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.b-exploration-sagas{
    padding: 1rem 2.3rem;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.p-exploration-sagas{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.p-exploration-wiki{
    color: #F16F10;
    font-size: 1rem;
    font-weight: bold;
}
