.header {
  background: linear-gradient(160deg, #ff8a00 0%, #ff6a00 40%, #ff3c00 100%);
  padding-top: 2rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.button-encyclopedia {
  background-color: rgba(250, 250, 250, 0.168);
  border: none;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.encyclopedia-text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin-left: 10px;
}

.dragon-ball-section {
  padding-bottom: 3rem;
}

.h1-dragon-ball {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: bolder;
}

.h1-dragon-balll {
  text-align: center;
  font-size: 4rem;
  color: #fde047;
  margin-bottom: 1rem;
}

.p-dragon-ball {
  text-align: center;
  font-size: 1.2rem;
  color: #f7c1a0;
}

.button-wiki {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 1rem;
}

.b-exploration-wiki {
  padding: 1rem 2.3rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.b-exploration-sagas {
  padding: 1rem 2.3rem;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease; 
  border: none;
}

.p-exploration-sagas {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease; 
}

.p-exploration-wiki {
  margin-left: 10px;
  color: #f16f10;
  font-size: 1rem;
  font-weight: bold;
}

.b-exploration-sagas:hover{
  background-color: #f16f10;
  border: 1px solid #ffffff70;
  color: #000;
  
}

.b-exploration-sagas:hover .p-exploration-sagas {
  color: #000; 
}

.wiki-main{
  padding-top: 3rem ;
  background-color: #000;
  margin: auto;
}

.explore-wiki{
  text-align: center;
}

.explore-wiki-h1{
  color: #fff;
  margin-bottom: 1.5rem;
}

.explore-wiki-p{
  color: #909FB3;
}

.cards-curisioties{
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.box {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
}


.emphasis{
  background-color: #000;
  padding: 6rem 5rem 5rem 6rem;
}

.emphasis-display{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.person-emphasis{
  color: #fff; 
}

.emphasis-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}

.button-p{
  color: #EA9B09;
  font-size: 1rem;
}

.emphasis-p{
  color: #ffffff85;
  font-size: 1rem;
  padding-bottom: 3rem;
}

.section-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer{
  background-color: #000;
  border-top: 1px solid #ffffff29;
}


.footer-wiki{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.box-icon-footer{
  background-color: #F66623;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.h1-wiki{
  color: #fff;
}

.p-wiki{
  padding: 3rem 0 3rem 0  ;
  color: #ffffff92;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .section-cards{
     width: 100%;
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 3rem;           
    padding: 1rem;
  }
}


@media (max-width: 480px) {
  .h1-dragon-ball{
    font-size: 3rem;
  }

  .h1-dragon-balll{
    font-size: 3rem;
  }

  .h1-dragon-ball{
    font-size: 3rem;
  }

  .button-wiki{
    display: flex;
    flex-direction: column;
  }

  .cards-curisioties{
    flex-direction: column;
    width: 100vw;
  }

  .emphasis-display{
    flex-direction: column;
  }

  .person-emphasis{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .section-cards{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
  }
}
